* {
    font-family: 'Pixelify Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f18608;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Login page styles*/
.login-form, .container{
    width: 300px;
    margin: 0 auto;
}

.login-form h1{
    text-align: center;
    color: black;
    font-size: 28px;
    padding: 70px 0 10px 0;
}

.login-form input[type="password"], .login-form input[type = "text"]{
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(165, 20, 227);
    margin-bottom: 10px;
    box-sizing: border-box;
}

/*login btn style*/
.btn-login{
    width: 100%;
    padding: 15px;
    background-color: #07ADF2;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: black;
}

.btn-login:hover, .btn-login:active{
    color: antiquewhite;
    background-color: #F4C424;
    border-color: #F4C424;
}

.btn-login:focus{
    box-shadow: 0 0 0 3px rgba(40, 40, 137, 0.167);
}

/*register btn style*/
.btn-register{
    width: 100%;
    padding: 15px;
    background-color: #0771f2;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: black;
    margin-top: 20px;
    /*give button appearance*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-radius: 6px;
}

.btn-register:hover, .btn-register:active{
    color: antiquewhite;
    background-color: #F4C424;
    border-color: #F4C424;
}

.btn-register:focus{
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.391)
}

/* Login button Style*/
.a-login:link, .a-login:visited {
    background-color: white;
    color: black;
    border: 2px solid #10b981;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a-login:hover, .a-login:active {
    background-color: #10b981;
    color: white;
}

/* Logout button Style*/
.a-login:link, .a-login:visited {
    background-color: white;
    color: black;
    border: 2px solid #f87171;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a-login:hover, .a-login:active {
    background-color: #f87171;
    color: white;
}

/*register form*/


.register-form{
    width: 400px;
    margin: 0 auto;
    padding: 0px 20px 60px 20px;
    margin-top: 35px;
    text-align: left !important;
    box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.30), 0px 15px 12px rgba(0, 0, 0, 0.22);
}

.register-form h1 {
    text-align: left;
    color: midnightblue;
    font-size: 22px;
    padding: 70px 0 10px 0;
}
.register-form input[type="password"],.register-form [type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.select-rol {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: #ffffff;
}

.select-rol::-ms-expand {
    display: none;
}

.select-rol:hover {
    border-color: #888;
}

.select-rol:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-rol option {
    font-weight: normal;
}

/* Cancel button start */ 

.btn-cancel{
    width: 49%;
    padding: 15px;
    background-color: #0771f2;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    color: black;
    margin-top: 20px;
    /*give button appearance*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-radius: 6px;
}

.btn-cancel:hover, .btn-register:active{
    color: antiquewhite;
    background-color: #F4C424;
    border-color: #F4C424;
}

.btn-cancel:focus{
    box-shadow: 0 0 0 3px rgb(68, 146, 219);
}

/*Save btn style*/
.btn-save{
    width: 49%;
    padding: 15px;
    background-color: #0771f2;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: black;
    margin-top: 20px;
    /*give button appearance*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-radius: 6px;
}

.btn-save:hover, .btn-register:active{
    color: antiquewhite;
    background-color: #F4C424;
    border-color: #F4C424;
}

.btn-save:focus{
    box-shadow: 0 0 0 3px rgb(207, 5, 5);
}

/**/



/*Contact page style*/

header{
    margin-bottom: 10%;
}

.HeaderContent {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #8A1D1D;
    border-bottom: 2px solid #555;
    z-index: 20;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.logo {
    width: auto;
    height: 29px;
}

.headerLinks nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.headerLinks nav li {
    margin-right: 20px;
}

.headerLinks nav a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.1rem;
    margin-left: 15px;
    
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s;
}

.headerLinks nav li:hover a {
    color: #098cb4;
}

.headerLinks nav li i {
    margin-right: 8px;
}

@media only screen and (max-width: 768px) {
    header{
        margin-bottom: 25%;
    }

    .HeaderContent {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 10px;
    }


}

.auth-section {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-icon {
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

.menu-icon i {
    color: #FFF;
    font-size: 20px;
}

.auth-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-link {
    text-decoration: none;
    color: #FFF;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.auth-link:hover {
    color: #098cb4;
}

.auth-divider {
    color: #FFF;
    font-size: 32px;
    margin-right: 10px;
}

.toptext h1{
    font-size: 42px;
    font-weight: 200;
    margin-bottom: 15px;
    text-align: center;
}

.opinionsForm{
    background-color: #F3AA1B;
    color: black;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    max-width: fit-content;
    border-radius: 10px;
}

.opinionsForm input{
    border-style: hidden hidden solid hidden ;
    background-color: #F3AA1B;
    border-bottom-color: black;
    width: 100%;

}

.opinionsQ{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 2px;
}

.messageField{
    grid-area: 3 / 1 / 4 / 3; }

textarea{
    max-width: 100%;
}

.sendMessageBtn{
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    background-color: #F4692D;
}

.contactHeader h2{
    font-size: 38px;
    font-weight: 100;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.contactInfo{
    text-align: center;
    padding-bottom: 3rem;
}

.contactInfo p{
    padding: 5px;
    font-size: 2rem;
}

.contactInfo p a{
    text-decoration: none;
    color: black;
}
.contactInfo p a i{
padding-right: .3rem;
}












/*Padding Style*/

footer {
    background-color: #8A1D1D;
    color: #FFF;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    position: static;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}